*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: lightblue;
      z-index: 1;
}

.datos{
  position: relative;
  width: 100%; 
  height: 15%; 
  border: 3px;
  background: blue;
  margin-bottom: 2%;
}

.nota textarea{

  resize: none; 
  width: 90%;
  background-color: transparent;
  margin-top: 22%;
  margin-left: 5%;
  height: 170px;
  font-size: 20px;
  font-family: 'Palatino Linotype';
  border:none;
  font-color:black;
}

.nota input{

    margin-top: 10%;
    width: 80%;
    background-color: transparent;
    font-size: 20px;
    font-family:'Rockwell';
    border:none;
}

input{

  margin-top: 2%;
  margin-left: 10%;
  width: 10%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-style: none;
  border-radius: 5px;
  background: white;
  position: absolute;

}

select{

	margin-left: 5%;
	margin-top: 2%;
	width: 9%;
	height: 30%;
	border-radius: 5px;
	position: absolute;

}

button{

  margin-left: 20%;
  margin-top: 2%;
  border-radius: 5px;	
  border-style: none;
  width: 10%;
  padding: 10px;
  background: lightblue;
  cursor: pointer;
  position: absolute;
}

.input2{

  margin-top: 2%;
  margin-left: 30%;
  width: 30%;
  height: 50%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-style: none;
  border-radius: 5px;
  background: white;
  position: static;
}

.nota{

  position: relative;
  float:left;
  margin-top: 3%;
  margin-left: 3%;
  width: 20%; 
  height: 40%; 
  border-radius: 10px;
  background: gray;
  font-size: 13px;
  box-sizing: border-box;
}

.trabajo { background-color: gray; box-shadow: 1px 1px 1px 1px #be2edd}
.personal { background-color:lightgray ; box-shadow: 1px 1px 1px 1px grey}
.escuela { background-color:lightgreen ; box-shadow: 1px 1px 1px 1px #6ab84c }

.contenedor{
  display: flex;
  flex-wrap: wrap;
}

h2{
 margin-top: 10px;
 color: darkblue;
 text-align: center;
 font-size: 225%;
}

hr{
  margin-top: 15px;
  box-sizing: border-box;
  }

.categoria{

  position: absolute;
  right: 35px;
  top: 5px;
  font-size: 15px;

}

.borrar{

  position: absolute;
  top:  5px;
  right: 5px;
  background:red;
  border-radius: 50%;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  height: 20px;
  width: 20px;
  cursor: pointer; 
  
}

